@font-face {
    font-family: 'Overpass-Regular';
    src: url('../fonts/overpass-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/overpass-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/overpass-regular.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/overpass-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Overpass-Semibold';
    src: url('../fonts/overpass-semibold.eot');
    src: url('../fonts/overpass-semibold.woff2') format('woff2'),
    url('../fonts/overpass-semibold.woff') format('woff'),
    url('../fonts/overpass-semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Overpass-Light';
    src: url('../fonts/overpass-light.eot');
    src: url('../fonts/overpass-light.woff2') format('woff2'),
    url('../fonts/overpass-light.woff') format('woff'),
    url('../fonts/overpass-light.ttf') format('truetype');
}

body {
    text-align: center;
    font-family: 'Overpass-Light', sans-serif;
    color: #545962;
}

.top_img {
    width: 100%;
    margin-bottom: 30px;
}

.top_line {
    font-family: 'Overpass-Semibold', sans-serif;
    color: #F37420;
    margin-bottom: 20px;
    font-size: 31px;
}

h1 {
    color: #2D637F;
    margin-bottom: 15px;
}

div {
    margin-bottom: 15px;
}

.highlighted {
    font-family: 'Overpass-Semibold', sans-serif;
    color: #4CA2D2;
}

.url {
    font-size: 40px;
}

.link {
    font-family: 'Overpass-Regular', sans-serif;
}

.link:hover {
    color: #2D637F;
    text-decoration: none;
}

.bottom_img {
    width: 200px;
    margin-top: 25px;
}

.special {
    font-style: italic;
}